<html>

<head>
  <title>android inspector</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    id="viewport">
  <style type="text/css">
  .ks-switch {
    background-color: aqua;
  }
  </style>
</head>

<body>
  <!--
  Switch:
  <div class="ks-switch-container" id="switch3" >
    <div disabled="disabled" class="ks-switch ks-switch--switch">
      Switch
    </div>
  </div>

  <div id="mydiv1">
    
  </div>

  -->

  <br/>
    
  <label style="position: relative;">
    checkbox_aaaa
    <div>
      ddddddddddddddddddddddddddddddddddddddddddddddd
      <br/><br/><br/><br/>
      ccccccccccccc
    </div>
    <input type="checkbox"  style="color: blue; border: 1px solid red;">   
    2222
    <input type="checkbox"  style="color: blue; border: 1px solid red;">   
</label>
<div>
  kkkkkkkkkkkkkkkkkkkkkk
  
</div>


  <br/>
  <label id="checkbox_bbbb">
    checkbox_bbbb
  </label>

</body>

</html>