<html>
  <head>
    <title>条条大路通罗马</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <style type="text/css">
      #contentBg{background-color:#CFC;}
      .cr{ float:right; opacity:0.8}
    </style>
  </head>

  <body id="contentBg“ style="border:solid 10px #CC9900">
    <h1 align="center">条条大路通罗马</h1>
    <img class="cr" src="../images/jing_width.jpg">
    <p>
        <li>条条大路</li>通罗马是著名的英语谚语。出自罗马典故。古罗马原是意大     利的一个小城邦………..为“叛教者”(apostate)。
    </p>
  </body>
</html>
