<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
<title>index</title>
<script>



  function onload() {
    document.getElementById('idJsUa').innerHTML = navigator.userAgent;

    var str = "onLoad: window.innerWidth=" + window.innerWidth + "; innerHeight=" + window.innerHeight + "; window.document.documentElement.clientWidth=" + window.document.documentElement.clientWidth;
    document.getElementById('onload_info').innerHTML = str;
    setInterval(function() {
      var str = "Delay: window.innerWidth=" + window.innerWidth + "; innerHeight=" + window.innerHeight + "; window.document.documentElement.clientWidth=" + window.document.documentElement.clientWidth;
      document.getElementById('delay_info').innerHTML = str;
      console.log(str);
      //alert(str);
    }, 1000)
  }
</script>
</head>

<body onload="onload()">
<br />

<br /><br /><br/>
<button onclick="location.reload()">reload</button>
<br /><br/>
<div id="onload_info"></div>
<br/><br/>
<div id="delay_info"></div>
<br/><br/><br/><br/>
<div id="idJsUa"></div>
</body>
</html>
