<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>text layout</title>
</head>

<body style="width:640px">
<h2>条条大路通罗马</h2>
<p>条条大路通罗马是著名的英语谚语。出自罗马典故。古罗马原是意大利的一个小城邦。公元前3世纪罗马统一了整个亚平宁半岛。公元前1世纪，罗马城成为地跨欧亚非三洲的罗马帝国的政治、经济和文化中心。罗马帝国为了加强其统治，修建了以罗马为中心，通向四面八方的大道。据史料记载，罗马人共筑硬面公路8万公里。这些大道促进了帝国内部和对外的贸易和文化交流。公元8世纪起，罗马成为西欧天主教的中心，各地教徒前往朝圣者络绎不绝。据说，当时从意大利半岛乃至欧洲的任何一条大道开始旅行，只要不停地走，最终都能抵达罗马。更有趣的是，古罗马统治者为了调兵遣将的方便，下令在大道的两旁种上大树，以便为行军的士兵遮挡炎热的阳光。 相传条条大路通罗马这句话，最早出自罗马皇帝尤里安(julian the apostate, 331-363)之口。尤里安是君士坦丁一世(约280-337)之侄。他博学多才，集学者、作家和将军于一身。在位期间(360-363)允许宗教信仰自由，并允许犹太人在耶路撒冷重建圣庙。其本人信奉异教，是君士坦丁之后唯一的非基督教徒帝王。因此教会称他为“叛教者”(apostate)。
</p>
<p>条条大道通罗马可喻为：达到同一目的可以有多种不同的方法和途径。</p>

<h2>Multi-process Architecture</h2>
<p>It's nearly impossible to build a rendering engine that never crashes or hangs. It's also nearly impossible to build a rendering engine that is perfectly secure.</p>
<p>In some ways, the state of web browsers around 2006 was like that of the single-user, co-operatively multi-tasked operating systems of the past. As a misbehaving application in such an operating system could take down the entire system, so could a misbehaving web page in a web browser. All it took is one browser or plug-in bug to bring down the entire browser and all of the currently running tabs.</p>

</body>
</html>
